
  
<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH04YFBXlqppNGD3F1PXGzUE-ecCxpMok&signed_in=true&libraries=places"></script>
<!--     // <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCH04YFBXlqppNGD3F1PXGzUE-ecCxpMok&libraries=geometry,places&sensor=true&language=en"></script> -->
    <style>
      #map-canvas {
        height: 450px;
        width:800px;
      }
    </style>
    <script>   
var map;
var service;
var marker;
var pos;
var infowindow;

function initialize() 
{
  console.log("Loading this map")

    var mapOptions = {
     zoom: 16,
     mapTypeId: google.maps.MapTypeId.ROADMAP,
     scrollwheel: false,
     panControl: false,
     streetViewControl: false,
     mapTypeControl: false,
     };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    //HTML5 geolocation
    if (navigator.geolocation) 
    {
       navigator.geolocation.getCurrentPosition(function(position) 
       {
            pos = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

            infowindow = new google.maps.InfoWindow({map: map,position: pos,content: 'You Are Here'});

            var request = {location:pos,radius:400, open_now:true,types: ["food,restaurants"]
            };

            map.setCenter(pos);

            infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request,callback);

        }, 

        function() 
        { 
        handleNoGeolocation(true);
        });
    } 
    else 
    {
    handleNoGeolocation(false);
    }

    function callback(results, status) 
    {
      if (status == google.maps.places.PlacesServiceStatus.OK) 
      {

        for (var i = 0; i < results.length; i++) 
        {
          console.log("ghlkjelk");
          createMarker(results[i]);
        }
      }
    }

    function createMarker(place) 
    {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

    google.maps.event.addListener(marker, 'click', function() 
    {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
    });

}
}
// var url = "https//maps.googleapis.com/maps/api/place/nearbysearch/json?location="+ pos +"&radius=100&types=food&sensor=false&key=AIzaSyCH04YFBXlqppNGD3F1PXGzUE-ecCxpMok";

// $.get(url, function(open_now){
//   if(open_now = true) {
//     //display move marker
//     console.log("aklj");
//   }

// });





google.maps.event.addDomListener(window, 'load', initialize);

</script>
  </head>
  <body>
    <div class= "container">
      <h3>Welcome to Kairos?</h3>
      
      <p>Are you up while most businesses may be closed? This application intends to assist you in finding the nearest open food regardless of the time of day. Gone are the days of  worrying about what is open at 3am on a friday night. Kairos is here to help! To begin just allow the application to check your location and you are done!</p>
      <br><br>

      <p id="intro-page">Click the button to return to your original position.</p>
      <a class="green ligthen-4 waves-effect waves-light btn" onclick="initialize()"><i class="material-icons right">language</i>
        Go Back Home
      </a>
    </div>
    <br><br>
      
    <div class = "valign-wrapper container">

      <div id="map-canvas"> </div>

    </div>

    <br><br>
    <div class = "container">The results yield the top places within a quarter mile of your current location.</div>
  </body>
</html>
