
  
<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
   <!--  // <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH04YFBXlqppNGD3F1PXGzUE-ecCxpMok&signed_in=true&libraries=places"></script> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH04YFBXlqppNGD3F1PXGzUE-ecCxpMok&libraries=places"></script>
<!--     // <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCH04YFBXlqppNGD3F1PXGzUE-ecCxpMok&libraries=geometry,places&sensor=true&language=en"></script> -->
    <style>
      #map-canvas {
        height: 500px;
        width:965px;
      }
      body{
        background-color: #F0F8FF;
      }
      h3 {
        text-align: center;
      }
      p {
        font-family: 'Raleway', sans-serif,bold;
      }

    #first.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 175px;  /* Preferred icon size */
  display: inline;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color:#FF80AB;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

    </style>
    <script>   
var map;
var service;
var marker;
var pos;
var infowindow;


function initialize() 
{
  console.log("Loading this map")

    var mapOptions = {
     zoom: 17,
     mapTypeId: google.maps.MapTypeId.ROADMAP,
     scrollwheel: false,
     panControl: false,
     streetViewControl: false,
     mapTypeControl: false,
     };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    //HTML5 geolocation
    if (navigator.geolocation) 
    {
       navigator.geolocation.getCurrentPosition(function(position) 
       {
            pos = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);

            infowindow = new google.maps.InfoWindow({map: map,position: pos,content: 'You Are Here'});

            var request = {location:pos,radius:800,openNow:true,query: ['food'],types:['food','restaurant','bar']
            };

            map.setCenter(pos);

            infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);
            service.textSearch(request,callback);

        }, 

        function() 
        { 
        handleNoGeolocation(true);
        });
    } 
    else 
    {
    handleNoGeolocation(false);
    }

    function callback(results, status) 
    {
      if (status == google.maps.places.PlacesServiceStatus.OK) 
      {

        for (var i = 0; i < results.length; i++) 
        {
          console.log("This creates the Markers");
          createMarker(results[i]);
        }
      }
    }

    function createMarker(place) 
    {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

    google.maps.event.addListener(marker, 'click', function() 
    {
    infowindow.setContent(place.name);
    infowindow.open(map, this);
    });

}
}
// var url = "https//maps.googleapis.com/maps/api/place/nearbysearch/json?location="+ pos +"&radius=100&types=food&sensor=false&key=AIzaSyCH04YFBXlqppNGD3F1PXGzUE-ecCxpMok";

// $.get(url, function(open_now){
//   if(open_now = true) {
//     //display move marker
//     console.log("aklj");
//   }

// });





google.maps.event.addDomListener(window, 'load', initialize);

</script>
  </head>
  <body>
    <div class= "container">
      <div class="card-panel hoverable">
      <h3>Welcome to Kairos</h3>
      
      <p>Are you up while most businesses closed? This application intends to assist you in finding the nearest open food location regardless of the time of day. Gone are the days of worrying about what is open at 3am on a friday night. Kairos is here to help! Using Kairos is simple. Just allow the application to check your location and you are done! The open restaurants around you appear on the map!</p>
      <br>
      <div class="container">
      <div class ="row">
        <div class="col s4 center align">
          <i class="material-icons" id="first">gps_fixed</i>
          <h5>Get your location</h5>
        </div>
        <div class="col s4 center align">
          <i class="material-icons" id="first">schedule</i>
          <h5>Check what's open</h5>
        </div>
        <div class="col s4 center align">
          <i class="material-icons" id="first">local_dining</i>
          <h5>Enjoy!</h5>
        </div>      
      </div>
      </div>

      <div>
    <!-- <h5 class="center-align">Click the button to return to your original position</h5> -->
      </div>
      <br>
      <div class= "center-align">
        <a class="waves-effect waves-light btn-large" onclick="initialize()"><i class="material-icons right">language</i>
          Load Map
        </a>
      </div>
    </div>
    </div>
    <br>
      
    <div class = "valign-wrapper container">
      <div class= "card-panel hoverable">
      <div id="map-canvas"> </div>
      </div>
    </div>

    <br>
    <div class = "container">
      <div class="card-panel hoverable">

      <p>The results yield the top places within a half mile of your current location.</p>
      </div>
    </div>

  </body>
</html>
