<!DOCTYPE html>
<html>
<head>
  <title>Location App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- jquery  and materialize on CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
</head>
<body>
<nav class = "cyan">
	<div class = "navbar-wrapper container">
		<a href="#" class = "brand-logo">Kairos App Logo</a>
		<ul = class = "right">
			<li><a href="#">Search Locations</a></li>
			<li><a href="#">Schedules</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</nav>
<%= yield %>

</body>
</html>

